@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: $main-light-10;
  color: $prim-acc;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
  font-family: $heading-font;
  font-weight: bold;
  text-align: left;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icon {
  transition: all 0.2s ease-in-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  .faq-icon {
    transform: rotate(180deg);
    color: $main-dark;
  }
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding-top: 1rem;
  text-align: justify;
  height: 0;
  display: block;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  p {
    padding: 0 1rem;
  }
}
