@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;

#cookie-consent-banner {
  display: none;
  position: fixed;
  //border-top: 6px solid $prim-acc;
  box-shadow: 0px -9px 30px 0px rgba($color: $main-dark, $alpha: 0.4);
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.btn-consent {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: $prim-acc;
  color: $main-light;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid $prim-acc;
  border-radius: 40px;
  cursor: pointer;

  &:hover {
    //background: rgba($color: #000000, $alpha: 0);
    color: $txt-on-dark;
    border: 2px solid $sec-acc;
    transition-duration: 0.2s;
  }

  @include medium {
    display: block !important;
  }
}

.btn-consent-outline {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: $bg-dark;
  color: $main-light;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid $prim-acc;
  border-radius: 40px;
  cursor: pointer;

  &:hover {
    background: rgba($color: #000000, $alpha: 0);
    color: $txt-on-dark;
    border: 2px solid $sec-acc;
    transition-duration: 0.2s;
  }

  @include medium {
    display: block !important;
  }
}
