@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;

#formContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  border: solid 0.5px rgb(180, 180, 180);
  border-radius: 16px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  label {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  input {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    height: 50px;
    width: 100%;
    border: none;
    border: 1px solid $prim-acc;
    background-color: rgba($color: $prim-acc, $alpha: 0);
    outline: none;
    color: $prim-acc;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    text-indent: 1rem;
    margin-bottom: 2rem;
  }
  input:focus {
    border: 1px solid $sec-acc;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  }
  input::placeholder {
    color: $main-dark-50;
    font-size: 0.8rem;
    font-weight: 400;
  }
  textarea {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    height: 150px;
    width: 100%;
    border: none;
    border: 1px solid $prim-acc;
    background-color: transparent;
    outline: none;
    color: $prim-acc;
    transition: 0.25s;
    border-radius: 6px;
    text-indent: 1rem;
    padding-top: 1rem;
    resize: none;
    transition: all 0.2s ease-in-out;
  }
  textarea:focus {
    border: 1px solid $sec-acc;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  }
}

.btn-form {
  background-color: $prim-acc;
  color: $txt-on-dark;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  min-height: 50px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3 ease;
}

#formSocial {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  background-color: $main-light;
  border: none;
  border-radius: 0px;

  padding: 2rem 0;
  width: 100%;
  max-width: 400px;
  label {
    padding: 0rem 0.8rem;
    border-radius: 8px;
    position: absolute;
    left: 8px;
    top: 24px;
    background-color: $main-light;
    transition: all 0.2s ease-in-out;
  }
  input {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    height: 50px;
    width: 100%;
    border: none;
    border: 1px solid $prim-acc;
    background-color: rgba($color: $prim-acc, $alpha: 0);
    outline: none;
    color: $prim-acc;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    text-indent: 1rem;
    margin-bottom: 2rem;
    &::placeholder {
      color: $main-dark-50;
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  button {
    background-color: $prim-acc;
    color: $txt-on-dark;
    border: 2px solid $prim-acc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 180px;
    margin-left: 24px;
    border-radius: 8px;

    transition: all 0.3 ease;

    &:hover {
      background-color: $main-light;
      color: $main-dark;
      transition-duration: 0.2s;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $main-light inset !important;
    -webkit-text-fill-color: $prim-acc !important;
  }
}

#formSocial:focus-within {
  input {
    border: 1px solid $sec-acc;
  }
  label {
    transform: translateX(10px);
  }
}
