@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
}

.btn-form {
  background-color: $prim-acc;
  color: $txt-on-dark;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  min-height: 50px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3 ease;
}

.contact-form input {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  height: 50px;
  width: 100%;
  border: none;
  border: 1px solid $prim-acc;
  background-color: rgba($color: $prim-acc, $alpha: 0);
  outline: none;
  color: $prim-acc;
  transition: all 0.4s ease-in-out;
  border-radius: 0px;
  text-indent: 1rem;
  margin-bottom: 2rem;
}

.contact-form input:focus {
  border-bottom: 1px solid $prim-acc;
}

.contact-form input::placeholder {
  color: $main-dark-20;
}

.contact-form input:-webkit-autofill,
.contact-form input:-webkit-autofill:hover,
.contact-form input:-webkit-autofill:focus,
.contact-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $prim-acc inset !important;
}

.contact-form textarea {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  height: 150px;
  width: 100%;
  border: none;
  border: 1px solid $prim-acc;
  background-color: transparent;
  outline: none;
  color: $prim-acc;
  transition: 0.25s;
  border-radius: 0px;
  text-indent: 1rem;
  padding-top: 1rem;
  resize: none;
}

.footerForm input,
.footerForm textarea {
  width: 100%;
  max-width: 650px;
  border-bottom: 1px solid #8486aa;
  border-radius: 0;
  margin-bottom: 24px;
  height: 44px;
  padding-left: 10px;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #313353;
  color: $txt-on-dark;
  resize: none;
}

.footerForm textarea {
  display: block;
  background-color: #313353;
  border-bottom: 1px solid #8486aa;
  padding-top: 10px;
  height: 200px;
  color: $txt-on-dark;
  resize: none;
}

.footerForm input::placeholder,
.footerForm textarea::placeholder {
  color: #8486aa;
}

.footerForm input:focus {
  border-bottom: solid 1px $sec-acc;
}

.footerForm textarea:focus {
  border-bottom: solid 1px $sec-acc;
}
