@use "../abstracts/colors" as *;

.line-acc-small {
  display: block;
  width: 120px;
  height: 2px;
  background-color: $prim-acc;
}

.line-acc-full {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $prim-acc;
}

.line-vertical {
  display: inline-block;
  width: 4px;
  height: 50px;
  background-color: $main-light;
}

.line-dark-small {
  display: block;
  width: 80px;
  height: 4px;
  background-color: $main-dark;
}
