@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;

//slider

.splide__slide {
  font-size: x-large;
  color: $txt-on-light;
  margin-right: 20px !important;

  flex-direction: column;
}

.splide {
  padding: 1rem 0 !important;

  @include large {
    margin: 0 1rem !important;
  }

  @include normal {
    padding: 0rem 0rem !important;
  }

  @include medium {
  }
}

.splide__track {
  padding: 3rem 0;
}

.splide__arrow {
  top: 50% !important;
  user-select: none;

  svg {
    fill: $prim-acc !important;
  }
}

.splide__pagination__page.is-active {
  background: $prim-acc !important;
}
