@use "components/reset";
@use "components" as *;

body {
  font-family: $body-font;
  background-color: $main-dark;
  color: $txt-on-dark;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#my-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  box-sizing: border-box;
}

video::-webkit-media-controls {
  display: none !important;
}
