@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;
@use "../layouts/navbarTop" as *;

.hero-photography {
  position: relative;
  height: 100vh;

  @include medium {
    height: calc(100vh - $navHeightSmall);
  }

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    @include medium {
      height: calc(100vh - $navHeightSmall);
    }
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.photo-categories {
  display: grid;
  grid-template-rows: repeat(1, 600px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  @include large {
    grid-template-rows: repeat(5, 600px);
    grid-template-columns: 1fr 1fr;
  }

  @include medium {
    grid-template-rows: repeat(10, 580px);
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
