@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;
@use "../layouts/navbarTop" as *;
@use "../abstracts/fonts" as *;

.services {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
