$main-dark: #07172a;
$main-light: #eff4fb;
$bg-light: #eff4fb;
$bg-dark: #07172a;
$prim-acc: #44586d;
$sec-acc: #c3ae90;
$ter-acc: #23ce6b;
$quar-acc: #fff;
$disabled: #aaaaaa;
$txt-on-dark: #eff4fb;
$txt-on-light: #07172a;
$error: red;
$success: #0350e7;
$white: #fff;
$black: #000;

$main-light-5: color-mix(in srgb, $main-light 95%, black);
$main-light-10: color-mix(in srgb, $main-light 90%, black);
$main-light-20: color-mix(in srgb, $main-light 80%, black);
$main-light-30: color-mix(in srgb, $main-light 70%, black);
$main-light-40: color-mix(in srgb, $main-light 60%, black);
$main-light-50: color-mix(in srgb, $main-light 50%, black);

$main-dark-5: color-mix(in srgb, $main-dark 95%, white);
$main-dark-10: color-mix(in srgb, $main-dark 90%, white);
$main-dark-20: color-mix(in srgb, $main-dark 80%, white);
$main-dark-30: color-mix(in srgb, $main-dark 70%, white);
$main-dark-40: color-mix(in srgb, $main-dark 60%, white);
$main-dark-50: color-mix(in srgb, $main-dark 50%, white);

$prim-acc-5: color-mix(in srgb, $prim-acc 95%, black);
$prim-acc-10: color-mix(in srgb, $prim-acc 90%, black);
$prim-acc-20: color-mix(in srgb, $prim-acc 80%, black);
$prim-acc-30: color-mix(in srgb, $prim-acc 70%, black);
$prim-acc-40: color-mix(in srgb, $prim-acc 60%, black);
$prim-acc-50: color-mix(in srgb, $prim-acc 50%, black);

.clr-main-dark {
  color: $main-dark;
}

.clr-main-dark-5 {
  color: $main-dark-5;
}

.clr-main-dark-10 {
  color: $main-dark-10;
}

.clr-main-dark-20 {
  color: $main-dark-20;
}

.clr-main-dark-30 {
  color: $main-dark-30;
}

.clr-main-dark-40 {
  color: $main-dark-40;
}

.clr-main-dark-50 {
  color: $main-dark-50;
}

.clr-main-light {
  color: $main-light;
}

.clr-main-light-5 {
  color: $main-light-5;
}
.clr-main-light-10 {
  color: $main-light-10;
}
.clr-main-light-20 {
  color: $main-light-20;
}
.clr-main-light-30 {
  color: $main-light-30;
}
.clr-main-light-40 {
  color: $main-light-40;
}
.clr-main-light-50 {
  color: $main-light-50;
}

.bg-light {
  background-color: $bg-light;
}

.bg-dark {
  background-color: $bg-dark;
}

.bg-prim-acc {
  background-color: $prim-acc;
}

.clr-prim-acc {
  color: $prim-acc;
}

.clr-sec-acc {
  color: $sec-acc;
}

.bg-white {
  background-color: #fff;
}

html.theme-dark {
  --bg-color: #07172a !important;
  --text-color: #eff4fb !important;
  --link-color: #eff4fb !important;
  --link-hover: #44586d !important;
}

html.theme-light {
  --bg-color: #eff4fb !important;
  --text-color: #07172a !important;
  --link-color: #44586d !important;
  --link-hover: #07172a !important;
}

html.theme-light .logo-dark {
  display: flex;
}

html.theme-dark .logo-light {
  display: flex;
}

html.theme-light .sun {
  display: inline;
  opacity: 1;
}

html.theme-dark .moon {
  display: inline;
  opacity: 1;
  color: white;
}

body,
header,
nav,
.dropdown-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

a {
  color: var(--link-color);
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover);
}

.logo-light,
.logo-dark {
  transition: all 0.3 ease-in-out;
  display: none;
}

.theme-switcher {
  position: relative;
  top: 0;
  left: 0;
  background: none;
  border: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.sun,
.moon {
  border: 0;
  background: none;
  display: none;
  transition: all 0.3s ease-in-out;
}
