$main-dark: #1a1a1a;
$main-light: #fafafa;
$bg-light: #fafafa;
$bg-dark: #1a1a1a;
$prim-acc: #ff4811;
$sec-acc: #c3ae90;
$ter-acc: #23ce6b;
$quar-acc: #fff;
$disabled: #aaaaaa;
$txt-on-dark: #fafafa;
$txt-on-light: #1a1a1a;
$error: red;
$success: #0350e7;
$white: #fff;
$black: #000;

$main-light-5: color-mix(in srgb, $main-light 95%, black);
$main-light-10: color-mix(in srgb, $main-light 90%, black);
$main-light-20: color-mix(in srgb, $main-light 80%, black);
$main-light-30: color-mix(in srgb, $main-light 70%, black);
$main-light-40: color-mix(in srgb, $main-light 60%, black);
$main-light-50: color-mix(in srgb, $main-light 50%, black);

$main-dark-5: color-mix(in srgb, $main-dark 95%, white);
$main-dark-10: color-mix(in srgb, $main-dark 90%, white);
$main-dark-20: color-mix(in srgb, $main-dark 80%, white);
$main-dark-30: color-mix(in srgb, $main-dark 70%, white);
$main-dark-40: color-mix(in srgb, $main-dark 60%, white);
$main-dark-50: color-mix(in srgb, $main-dark 50%, white);

$prim-acc-5: color-mix(in srgb, $prim-acc 95%, black);
$prim-acc-10: color-mix(in srgb, $prim-acc 90%, black);
$prim-acc-20: color-mix(in srgb, $prim-acc 80%, black);
$prim-acc-30: color-mix(in srgb, $prim-acc 70%, black);
$prim-acc-40: color-mix(in srgb, $prim-acc 60%, black);
$prim-acc-50: color-mix(in srgb, $prim-acc 50%, black);

.clr-main-dark {
  color: $main-dark;
}

.clr-main-dark-5 {
  color: $main-dark-5;
}

.clr-main-dark-10 {
  color: $main-dark-10;
}

.clr-main-dark-20 {
  color: $main-dark-20;
}

.clr-main-dark-30 {
  color: $main-dark-30;
}

.clr-main-dark-40 {
  color: $main-dark-40;
}

.clr-main-dark-50 {
  color: $main-dark-50;
}

.clr-main-light {
  color: $main-light;
}

.clr-main-light-5 {
  color: $main-light-5;
}
.clr-main-light-10 {
  color: $main-light-10;
}
.clr-main-light-20 {
  color: $main-light-20;
}
.clr-main-light-30 {
  color: $main-light-30;
}
.clr-main-light-40 {
  color: $main-light-40;
}
.clr-main-light-50 {
  color: $main-light-50;
}

.bg-light {
  background-color: $bg-light;
}

.bg-dark {
  background-color: $bg-dark;
}

.bg-prim-acc {
  background-color: $prim-acc;
}

.clr-prim-acc {
  color: $prim-acc;
}

.clr-sec-acc {
  color: $sec-acc;
}

.bg-white {
  background-color: #fff;
}
