$main-dark: #151629;
$main-light: #f5f5f5;
$bg-light: #f5f5f5;
$bg-dark: #151629;
$prim-acc: #214fde;
$sec-acc: #f2aa3c;
$ter-acc: #23ce6b;
$quar-acc: #fff;
$disabled: #aaaaaa;
$txt-on-dark: #f5f5f5;
$txt-on-light: #151629;
$error: red;
$success: #0350e7;

$main-light-5: color-mix(in srgb, $main-light 95%, black);
$main-light-10: color-mix(in srgb, $main-light 90%, black);
$main-light-20: color-mix(in srgb, $main-light 80%, black);
$main-light-30: color-mix(in srgb, $main-light 70%, black);
$main-light-40: color-mix(in srgb, $main-light 60%, black);
$main-light-50: color-mix(in srgb, $main-light 50%, black);

$main-dark-5: color-mix(in srgb, $main-dark 95%, white);
$main-dark-10: color-mix(in srgb, $main-dark 90%, white);
$main-dark-20: color-mix(in srgb, $main-dark 80%, white);
$main-dark-30: color-mix(in srgb, $main-dark 70%, white);
$main-dark-40: color-mix(in srgb, $main-dark 60%, white);
$main-dark-50: color-mix(in srgb, $main-dark 50%, white);

//projects colors
$sugBg: #eae5db;
$sugTxt: #1f3c44;
$volvoBg: #253162;
$volvoTxt: #fffffe;
$hunkyBg: #2a57e3;
$hunkyTxt: #ffffff;
$sushiBg: #1c3d43;
$sushiTxt: #e8e6e0;
$acaiBg: #4fab9c;
$acaiTxt: #f5f5f5;
$mytransferBg: #232a30;
$mytransferTxt: #ffffff;

.clr-main-dark {
  color: $main-dark;
}

.clr-main-dark-5 {
  color: $main-dark-5;
}

.clr-main-dark-10 {
  color: $main-dark-10;
}

.clr-main-dark-20 {
  color: $main-dark-20;
}

.clr-main-dark-30 {
  color: $main-dark-30;
}

.clr-main-dark-40 {
  color: $main-dark-40;
}

.clr-main-dark-50 {
  color: $main-dark-50;
}

.clr-main-light {
  color: $main-light;
}

.clr-main-light-5 {
  color: $main-light-5;
}
.clr-main-light-10 {
  color: $main-light-10;
}
.clr-main-light-20 {
  color: $main-light-20;
}
.clr-main-light-30 {
  color: $main-light-30;
}
.clr-main-light-40 {
  color: $main-light-40;
}
.clr-main-light-50 {
  color: $main-light-50;
}

.bg-light {
  background-color: $bg-light;
}

.bg-dark {
  background-color: $bg-dark;
}

.bg-prim-acc {
  background-color: $prim-acc;
}

.clr-prim-acc {
  color: $prim-acc;
}

.clr-sec-acc {
  color: $sec-acc;
}

.bg-white {
  background-color: #fff;
}
