@use "./colors" as *;
@use "./media-queries" as *;

@font-face {
  font-family: "RecoletaAlt";
  src: url("/fonts/recoletaalt-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$heading-font: "Raleway", serif;

$body-font: "Lora", sans-serif;

$nav-font: "Raleway", sans-serif;

$h1-size: 5.61rem;
$h2-size: 4.209rem;
$h3-size: 3.157rem;
$h4-size: 2.369rem;
$h5-size: 1.777rem;
$h6-size: 1.333rem;

$h1-size-small: 3.6rem;
$h2-size-small: 3rem;
$h3-size-small: 2.5rem;
$h4-size-small: 1.8rem;
$h5-size-small: 1rem;
$h6-size-small: 1rem;

%bold {
  font-weight: bold;
}

.font-heading {
  font-family: $heading-font !important;
}

.font-body {
  font-family: $body-font !important;
}

.h1 {
  font-family: $heading-font;
  font-size: $h1-size;
  font-weight: bold;
  line-height: calc($h1-size * 1.1);

  @include normal {
    font-size: $h1-size-small;
    line-height: calc($h1-size-small * 1.1);
  }

  @include medium {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}

.h2 {
  font-family: $heading-font;
  font-size: $h2-size;
  line-height: calc($h2-size * 1.1);

  @include medium {
    font-size: $h2-size-small;
    line-height: calc($h2-size-small * 1.1);
  }
}

.h3 {
  font-family: $heading-font;
  font-size: $h3-size;
  line-height: calc($h3-size * 1.1);

  @include medium {
    font-size: $h3-size-small;
    line-height: calc($h3-size-small * 1.1);
  }
}

.h4 {
  font-family: $heading-font;
  font-size: $h4-size;
  line-height: calc($h4-size * 1.1);
  @include medium {
    font-size: $h4-size-small;
    line-height: calc($h4-size-small * 1.1);
  }
}

.h5 {
  font-family: $heading-font;
  font-size: $h5-size;
  line-height: calc($h5-size * 1.1);
}

.h6 {
  font-family: $heading-font;
  font-size: $h6-size;
  line-height: calc($h6-size * 1.1);
}

.body {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5rem;
  &-bold {
    font-family: $body-font;
    font-size: 1rem;
    line-height: 1.5rem;
    @extend %bold;
  }
  &-small {
    font-family: $body-font;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  &-large {
    font-family: $body-font;
    font-size: 1.25rem;
    line-height: 1.7rem;
    &-bold {
      font-family: $body-font;
      font-size: 1.25rem;
      line-height: 1.5rem;
      @extend %bold;
    }
  }
}

.txt-label {
  font-family: $body-font;
  font-size: 0.8rem;
  line-height: 1rem;
  @extend %bold;
}

.upper {
  text-transform: uppercase;
}

.txt-on-dark {
  color: $txt-on-dark;
}

.txt-on-light {
  color: $txt-on-light;
}

.txt-thin {
  font-weight: 100 !important;
}

.txt-normal-weight {
  font-weight: 400;
}

.justify {
  text-align: justify;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.italic {
  font-style: italic !important;
}
