@use "./colors" as *;
@use "./media-queries" as *;

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

$heading-font: "Jost", sans-serif;

$body-font: "Atkinson Hyperlegible", sans-serif;

$nav-font: "Jost", sans-serif;

$h1-size: 3.052rem;

%bold {
  font-weight: bold;
}

.font-heading {
  font-family: $heading-font !important;
}

.font-body {
  font-family: $body-font !important;
}

.h1 {
  font-family: $heading-font;
  font-size: $h1-size;
  line-height: 4rem;
  font-weight: 500;
  //@extend %bold;

  @include medium {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}

.h2 {
  font-family: $heading-font;
  font-size: 2.441rem;
  line-height: 2.441rem;
  font-weight: 500;
  //@extend %bold;

  @include medium {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.h3 {
  font-family: $heading-font;
  font-size: 1.953rem;
  line-height: 2rem;
  @extend %bold;

  @include medium {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}

.h4 {
  font-family: $heading-font;
  font-size: 1.563rem;
  line-height: 1.5rem;
  @extend %bold;
}

.h5 {
  font-family: $heading-font;
  font-size: 1.25rem;
  line-height: 1.5rem;
  @extend %bold;
}

.h6 {
  font-family: $heading-font;
  font-size: 1rem;
  line-height: 1.5rem;
  @extend %bold;
}

.body {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5rem;
  &-bold {
    font-family: $body-font;
    font-size: 1rem;
    line-height: 1.5rem;
    @extend %bold;
  }
  &-small {
    font-family: $body-font;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  &-large {
    font-family: $body-font;
    font-size: 1.25rem;
    line-height: 1.7rem;
    &-bold {
      font-family: $body-font;
      font-size: 1.25rem;
      line-height: 1.5rem;
      @extend %bold;
    }
  }
}

.txt-label {
  font-family: $body-font;
  font-size: 0.8rem;
  line-height: 1rem;
  @extend %bold;
}

.upper {
  text-transform: uppercase;
}

.txt-on-dark {
  color: $txt-on-dark;
}

.txt-on-light {
  color: $txt-on-light;
}

.txt-thin {
  font-weight: 100 !important;
}

.txt-normal-weight {
  font-weight: 400;
}

.justify {
  text-align: justify;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}
