@use "./colors" as *;

/*:focus {
    outline: 2px solid $error;
}*/
.honeypot {
  display: none !important;
  visibility: hidden !important;
}

:focus {
  outline: none;
}

.no-select {
  user-select: none;
}

a {
  color: $prim-acc;

  &:hover {
    color: $txt-on-light;
  }
}

hr {
  display: inline-block;
  width: 100%;
  max-width: 1320px;
  border: 1px solid $prim-acc;
}

::selection {
  color: $txt-on-light;
  background: $sec-acc;
}
