@use "./colors" as *;

/*:focus {
    outline: 2px solid $error;
}*/
.honeypot {
  display: none !important;
  visibility: hidden !important;
}

:focus {
  outline: none;
}

.no-select {
  user-select: none;
}

::selection {
  color: $txt-on-light;
  background: $prim-acc;
}
