/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* End reset styles */
.clr-main-dark {
  color: #07172a;
}

.clr-main-dark-5 {
  color: color-mix(in srgb, #07172a 95%, white);
}

.clr-main-dark-10 {
  color: color-mix(in srgb, #07172a 90%, white);
}

.clr-main-dark-20 {
  color: color-mix(in srgb, #07172a 80%, white);
}

.clr-main-dark-30 {
  color: color-mix(in srgb, #07172a 70%, white);
}

.clr-main-dark-40 {
  color: color-mix(in srgb, #07172a 60%, white);
}

.clr-main-dark-50 {
  color: color-mix(in srgb, #07172a 50%, white);
}

.clr-main-light {
  color: #eff4fb;
}

.clr-main-light-5 {
  color: color-mix(in srgb, #eff4fb 95%, black);
}

.clr-main-light-10 {
  color: color-mix(in srgb, #eff4fb 90%, black);
}

.clr-main-light-20 {
  color: color-mix(in srgb, #eff4fb 80%, black);
}

.clr-main-light-30 {
  color: color-mix(in srgb, #eff4fb 70%, black);
}

.clr-main-light-40 {
  color: color-mix(in srgb, #eff4fb 60%, black);
}

.clr-main-light-50 {
  color: color-mix(in srgb, #eff4fb 50%, black);
}

.bg-light {
  background-color: #eff4fb;
}

.bg-dark {
  background-color: #07172a;
}

.bg-prim-acc {
  background-color: #44586d;
}

.clr-prim-acc {
  color: #44586d;
}

.clr-sec-acc {
  color: #c3ae90;
}

.bg-white {
  background-color: #fff;
}

html.theme-dark {
  --bg-color: #07172a !important;
  --text-color: #eff4fb !important;
  --link-color: #eff4fb !important;
  --link-hover: #44586d !important;
  --offcolor: color-mix(in srgb, var(--bg-color) 95%, white);
}

html.theme-light {
  --bg-color: #eff4fb !important;
  --text-color: #07172a !important;
  --link-color: #44586d !important;
  --link-hover: #07172a !important;
  --offcolor: color-mix(in srgb, var(--bg-color) 95%, black);
}

html.theme-light .logo-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.theme-dark .logo-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.theme-light .sun {
  display: inline;
  opacity: 1;
}
html.theme-light .sun:hover {
  color: rgb(192, 98, 15);
}

html.theme-dark .moon {
  display: inline;
  opacity: 1;
  color: white;
}
html.theme-dark .moon:hover {
  color: rgb(255, 225, 0);
}

body,
header,
nav,
.dropdown-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.theme-text {
  color: var(--text-color);
}

.theme-container {
  background-color: var(--offcolor);
}

a {
  color: var(--link-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover);
}

.logo-light,
.logo-dark {
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  display: none;
}

.theme-switcher {
  position: relative;
  top: 0;
  left: 0;
  background: none;
  border: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.sun,
.moon {
  border: 0;
  background: none;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@font-face {
  font-family: "RecoletaAlt";
  src: url("/fonts/recoletaalt-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.txt-label, .body-large-bold, .body-bold {
  font-weight: bold;
}

.font-heading {
  font-family: "Raleway", serif !important;
}

.font-body {
  font-family: "Lora", sans-serif !important;
}

.h1 {
  font-family: "Raleway", serif;
  font-size: 5.61rem;
  font-weight: bold;
  line-height: 6.171rem;
}
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 3.6rem;
    line-height: 3.96rem;
  }
}
@media screen and (max-width: 540px) {
  .h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}

.h2 {
  font-family: "Raleway", serif;
  font-size: 4.209rem;
  line-height: 4.6299rem;
}
@media screen and (max-width: 540px) {
  .h2 {
    font-size: 3rem;
    line-height: 3.3rem;
  }
}

.h3 {
  font-family: "Raleway", serif;
  font-size: 3.157rem;
  line-height: 3.4727rem;
}
@media screen and (max-width: 540px) {
  .h3 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

.h4 {
  font-family: "Raleway", serif;
  font-size: 2.369rem;
  line-height: 2.6059rem;
}
@media screen and (max-width: 540px) {
  .h4 {
    font-size: 1.8rem;
    line-height: 1.98rem;
  }
}

.h5 {
  font-family: "Raleway", serif;
  font-size: 1.777rem;
  line-height: 1.9547rem;
}

.h6 {
  font-family: "Raleway", serif;
  font-size: 1.333rem;
  line-height: 1.4663rem;
}

.body {
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.body-bold {
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.body-small {
  font-family: "Lora", sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
}
.body-large {
  font-family: "Lora", sans-serif;
  font-size: 1.25rem;
  line-height: 1.7rem;
}
.body-large-bold {
  font-family: "Lora", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.txt-label {
  font-family: "Lora", sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
}

.upper {
  text-transform: uppercase;
}

.txt-on-dark {
  color: #eff4fb;
}

.txt-on-light {
  color: #07172a;
}

.txt-thin {
  font-weight: 100 !important;
}

.txt-normal-weight {
  font-weight: 400;
}

.justify {
  text-align: justify;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.italic {
  font-style: italic !important;
}

.padt-100 {
  padding-top: 0.8rem;
}

.padt-200 {
  padding-top: 1rem;
}

.padt-300 {
  padding-top: 1.25rem;
}

.padt-400 {
  padding-top: 1.5rem;
}

.padt-500 {
  padding-top: 1.75rem;
}

.padt-600 {
  padding-top: 2rem;
}

.padt-700 {
  padding-top: 2.25rem;
}

.padt-800 {
  padding-top: 2.5rem;
}

.padt-900 {
  padding-top: 2.75rem;
}

.padb-100 {
  padding-bottom: 0.8rem;
}

.padb-200 {
  padding-bottom: 1rem;
}

.padb-300 {
  padding-bottom: 1.25rem;
}

.padb-400 {
  padding-bottom: 1.5rem;
}

.padb-500 {
  padding-bottom: 1.75rem;
}

.padb-600 {
  padding-bottom: 2rem;
}

.padb-700 {
  padding-bottom: 2.25rem;
}

.padb-800 {
  padding-bottom: 2.5rem;
}

.padb-900 {
  padding-bottom: 2.75rem;
}

.padr-100 {
  padding-right: 0.8rem;
}

.padr-200 {
  padding-right: 1rem;
}

.padr-300 {
  padding-right: 1.25rem;
}

.padr-400 {
  padding-right: 1.5rem;
}

.padr-500 {
  padding-right: 1.75rem;
}

.padr-600 {
  padding-right: 2rem;
}

.padr-700 {
  padding-right: 2.25rem;
}

.padr-800 {
  padding-right: 2.5rem;
}

.padr-900 {
  padding-right: 2.75rem;
}

.padl-100 {
  padding-left: 0.8rem;
}

.padl-200 {
  padding-left: 1rem;
}

.padl-300 {
  padding-left: 1.25rem;
}

.padl-400 {
  padding-left: 1.5rem;
}

.padl-500 {
  padding-left: 1.75rem;
}

.padl-600 {
  padding-left: 2rem;
}

.padl-700 {
  padding-left: 2.25rem;
}

.padl-800 {
  padding-left: 2.5rem;
}

.padl-900 {
  padding-left: 2.75rem;
}

.padlr-100 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.padlr-200 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padlr-300 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.padlr-400 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.padlr-500 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.padlr-600 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padlr-700 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.padlr-800 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padlr-900 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.mart-100 {
  margin-top: 0.8rem;
}

.mart-200 {
  margin-top: 1rem;
}

.mart-300 {
  margin-top: 1.25rem;
}

.mart-400 {
  margin-top: 1.5rem;
}

.mart-500 {
  margin-top: 1.75rem;
}

.mart-600 {
  margin-top: 2rem;
}

.mart-700 {
  margin-top: 2.25rem;
}

.mart-800 {
  margin-top: 2.5rem;
}

.mart-900 {
  margin-top: 2.75rem;
}

.marb-100 {
  margin-bottom: 0.8rem;
}

.marb-200 {
  margin-bottom: 1rem;
}

.marb-300 {
  margin-bottom: 1.25rem;
}

.marb-400 {
  margin-bottom: 1.5rem;
}

.marb-500 {
  margin-bottom: 1.75rem;
}

.marb-600 {
  margin-bottom: 2rem;
}

.marb-700 {
  margin-bottom: 2.25rem;
}

.marb-800 {
  margin-bottom: 2.5rem;
}

.marb-900 {
  margin-bottom: 2.75rem;
}

.marlr-100 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.marlr-200 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.marlr-300 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.marlr-400 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.marlr-500 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.marlr-600 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.marlr-700 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.marlr-800 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.marlr-900 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.marr-100 {
  margin-right: 0.8rem;
}

.marr-200 {
  margin-right: 1rem;
}

.marr-300 {
  margin-right: 1.25rem;
}

.marr-400 {
  margin-right: 1.5rem;
}

.marr-500 {
  margin-right: 1.75rem;
}

.marr-600 {
  margin-right: 2rem;
}

.marr-700 {
  margin-right: 2.25rem;
}

.marr-800 {
  margin-right: 2.5rem;
}

.marr-900 {
  margin-right: 2.75rem;
}

.marl-50 {
  margin-left: 0.4rem;
}

.marl-100 {
  margin-left: 0.8rem;
}

.marl-200 {
  margin-left: 1rem;
}

.marl-300 {
  margin-left: 1.25rem;
}

.marl-400 {
  margin-left: 1.5rem;
}

.marl-500 {
  margin-left: 1.75rem;
}

.marl-600 {
  margin-left: 2rem;
}

.marl-700 {
  margin-left: 2.25rem;
}

.marl-800 {
  margin-left: 2.5rem;
}

.marl-900 {
  margin-left: 2.75rem;
}

.flex-gap-05 {
  gap: 0.5rem;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.flex-gap-3 {
  gap: 3rem;
}

/*:focus {
    outline: 2px solid $error;
}*/
.honeypot {
  display: none !important;
  visibility: hidden !important;
}

:focus {
  outline: none;
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-moz-selection {
  color: #07172a;
  background: #44586d;
}

::selection {
  color: #07172a;
  background: #44586d;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.hidden-fade {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.show-fade {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.delay1 {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.delay2 {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.delay3 {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: color-mix(in srgb, #eff4fb 90%, black);
  color: #44586d;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
  font-family: "Raleway", serif;
  font-weight: bold;
  text-align: left;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-icon {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: #44586d;
  color: #eff4fb;
}
.active .faq-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #eff4fb;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding-top: 1rem;
  text-align: justify;
  height: 0;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.panel p {
  padding: 0 1rem 1rem 1rem;
}

.panel-active {
  height: auto;
}

.btn-fill {
  display: inline-block;
  cursor: pointer;
  width: auto;
  text-align: center;
  background-color: #44586d;
  color: #eff4fb;
  padding: 0.8rem 2rem;
  font-family: "Raleway", serif;
  font-weight: 600;
  border: 2px solid #44586d;
  border-radius: 0px;
}
.btn-fill:hover {
  background: none;
  color: #eff4fb;
  border: 2px solid #44586d;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 540px) {
  .btn-fill {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}
.btn-fill-rounded {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #44586d;
  color: #eff4fb;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #44586d;
  border-radius: 30px;
}
.btn-fill-rounded:hover {
  background: rgba(0, 0, 0, 0);
  color: #44586d;
  border: 2px solid #44586d;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 540px) {
  .btn-fill-rounded {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-stroke {
  display: inline-block;
  width: 120px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  color: #eff4fb;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #44586d;
}
.btn-stroke:hover {
  background-color: #44586d;
  color: #eff4fb;
  border: 2px solid #44586d;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 540px) {
  .btn-stroke {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-stroke-rounded {
  display: inline-block;
  width: 120px;
  text-align: center;
  background-color: #eff4fb;
  color: #44586d;
  padding: 0.8rem 1rem;
  font-weight: bold;
  border: 2px solid #44586d;
  border-radius: 24px;
}
.btn-stroke-rounded:hover {
  background-color: #44586d;
  color: #eff4fb;
  border: 2px solid #44586d;
}
@media screen and (max-width: 540px) {
  .btn-stroke-rounded {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-nav-action {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #44586d;
  color: #eff4fb;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #44586d;
}
.btn-nav-action:hover {
  background: rgba(0, 0, 0, 0);
  color: #44586d;
  border: 2px solid #44586d;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 540px) {
  .btn-nav-action {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}
.btn-nav-action-rounded {
  display: inline-block;
  width: auto;
  min-width: 80px;
  text-align: center;
  background-color: #44586d;
  color: #eff4fb;
  padding: 0.6rem 0.8rem;
  font-weight: 600;
  font-size: 0.8rem;
  border: 2px solid #44586d;
  border-radius: 30px;
  cursor: pointer;
}
.btn-nav-action-rounded:hover {
  background: rgba(0, 0, 0, 0);
  color: #44586d;
  border: 2px solid #44586d;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 540px) {
  .btn-nav-action-rounded {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}

#cookie-consent-banner {
  display: none;
  position: fixed;
  -webkit-box-shadow: 0px -9px 30px 0px rgba(7, 23, 42, 0.4);
          box-shadow: 0px -9px 30px 0px rgba(7, 23, 42, 0.4);
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.btn-consent {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #44586d;
  color: #eff4fb;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #44586d;
  border-radius: 40px;
  cursor: pointer;
}
.btn-consent:hover {
  color: #eff4fb;
  border: 2px solid #c3ae90;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 540px) {
  .btn-consent {
    display: block !important;
  }
}

.btn-consent-outline {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #07172a;
  color: #eff4fb;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #44586d;
  border-radius: 40px;
  cursor: pointer;
}
.btn-consent-outline:hover {
  background: rgba(0, 0, 0, 0);
  color: #eff4fb;
  border: 2px solid #c3ae90;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 540px) {
  .btn-consent-outline {
    display: block !important;
  }
}

#formContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
}
#formContact label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}
#formContact input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #44586d;
  background-color: rgba(68, 88, 109, 0);
  outline: none;
  color: #44586d;
  text-indent: 1rem;
  margin-bottom: 2rem;
}
#formContact input:focus {
  border: 1px solid #44586d;
}
#formContact input::-webkit-input-placeholder {
  color: color-mix(in srgb, #07172a 50%, white);
  font-size: 1rem;
  font-weight: 400;
}
#formContact input::-moz-placeholder {
  color: color-mix(in srgb, #07172a 50%, white);
  font-size: 1rem;
  font-weight: 400;
}
#formContact input:-ms-input-placeholder {
  color: color-mix(in srgb, #07172a 50%, white);
  font-size: 1rem;
  font-weight: 400;
}
#formContact input::-ms-input-placeholder {
  color: color-mix(in srgb, #07172a 50%, white);
  font-size: 1rem;
  font-weight: 400;
}
#formContact input::placeholder {
  color: color-mix(in srgb, #07172a 50%, white);
  font-size: 1rem;
  font-weight: 400;
}
#formContact textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  height: 150px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #44586d;
  background-color: transparent;
  outline: none;
  color: #44586d;
  text-indent: 1rem;
  padding-top: 1rem;
  resize: none;
}
#formContact textarea:focus {
  border: 1px solid #44586d;
}

.btn-form {
  background-color: #44586d;
  color: #eff4fb;
  white-space: nowrap;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  min-height: 50px;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.img-gallery {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-wrapper > div {
  width: 100%;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.grid-wrapper > div > a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}
@media screen and (max-width: 540px) {
  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.grid-wrapper .wide {
  grid-column: span 2;
}
@media screen and (max-width: 768px) {
  .grid-wrapper .wide {
    grid-column: span 1;
  }
}

.grid-wrapper .tall {
  grid-row: span 2;
}
@media screen and (max-width: 768px) {
  .grid-wrapper .tall {
    grid-row: span 1;
  }
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}
@media screen and (max-width: 768px) {
  .grid-wrapper .big {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.pswp__img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center;
     object-position: center;
  height: 100vh !important;
  width: 100vw !important;
}

#index-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.grid-wrapper > div > div {
  width: 100%;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.grid-wrapper > div > div > img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}
@media screen and (max-width: 540px) {
  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}
.img-window img {
  max-height: 80vh;
  max-width: 80vw;
}

/* text buttons */
.img-btn-next,
.img-btn-prev {
  display: block;
  padding: 1rem;
  background-color: #07172a;
  color: #eff4fb;
  position: fixed;
  top: 48vh;
  z-index: 101;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.img-btn-next:hover {
  color: #44586d;
}

.img-btn-prev:hover {
  color: #44586d;
}

.line-acc-small {
  display: block;
  width: 120px;
  height: 2px;
  background-color: #44586d;
}

.line-acc-full {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #44586d;
}

.line-vertical {
  display: inline-block;
  width: 4px;
  height: 50px;
  background-color: #eff4fb;
}

.line-dark-small {
  display: block;
  width: 80px;
  height: 4px;
  background-color: #07172a;
}

.splide__slide {
  font-size: x-large;
  color: #07172a;
  margin-right: 20px !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splide {
  padding: 1rem 0 !important;
}
@media screen and (max-width: 1024px) {
  .splide {
    margin: 0 1rem !important;
  }
}
@media screen and (max-width: 768px) {
  .splide {
    padding: 0rem 0rem !important;
  }
}
.splide__track {
  padding: 3rem 0;
}

.splide__arrow {
  top: 50% !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.splide__arrow svg {
  fill: #44586d !important;
}

.splide__pagination__page.is-active {
  background: #44586d !important;
}

.kanban {
  display: grid;
  gap: 0.5rem;
  margin: auto;
  grid-template-rows: repeat(5, 230px);
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .kanban {
    grid-template-rows: repeat(10, 230px);
    grid-template-columns: 1fr;
  }
}
.kanban .item {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.kanban .item-1,
.kanban .item-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kanban .item-2,
.kanban .item-3,
.kanban .item-4,
.kanban .item-5 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-2 {
  background: rgb(57, 99, 203);
  background: linear-gradient(45deg, rgb(57, 99, 203) 0%, rgb(39, 82, 184) 100%);
  grid-row: span 2;
}
.item-2 .image {
  overflow: hidden !important;
  position: absolute;
  bottom: -60px;
  right: -40px;
  width: 240px;
}
.item-2 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .item-2 .image {
    bottom: -90px;
    right: -40px;
    width: 340px;
  }
}
@media screen and (max-width: 540px) {
  .item-2 .image {
    bottom: -60px;
    right: -40px;
    width: 240px;
  }
}

.item-3 {
  background: rgb(57, 99, 203);
  background: linear-gradient(45deg, rgb(57, 99, 203) 0%, rgb(39, 82, 184) 100%);
  grid-row: span 2;
}
.item-3 .image {
  overflow: hidden !important;
  position: absolute;
  bottom: -60px;
  right: -40px;
  width: 240px;
}
.item-3 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .item-3 .image {
    bottom: -160px;
    right: -10px;
    width: 400px;
  }
}
@media screen and (max-width: 540px) {
  .item-3 .image {
    bottom: -90px;
    right: -60px;
    width: 300px;
  }
}

.item-4 {
  background: rgb(57, 99, 203);
  background: linear-gradient(45deg, rgb(57, 99, 203) 0%, rgb(39, 82, 184) 100%);
  grid-row: span 2;
}
.item-4 .image {
  overflow: hidden !important;
  position: absolute;
  bottom: 0px;
  right: -100px;
  width: 440px;
}
.item-4 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .item-4 .image {
    bottom: 0px;
    right: -80px;
    width: 440px;
  }
}
@media screen and (max-width: 540px) {
  .item-4 .image {
    bottom: 0px;
    right: -150px;
    width: 440px;
  }
}

.item-5 {
  background: rgb(57, 99, 203);
  background: linear-gradient(45deg, rgb(57, 99, 203) 0%, rgb(39, 82, 184) 100%);
  grid-row: span 2;
}
.item-5 .image {
  overflow: hidden !important;
  position: absolute;
  bottom: -90px;
  right: -120px;
  width: 440px;
}
.item-5 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .item-5 .image {
    bottom: -160px;
    right: -200px;
    width: 640px;
  }
}
@media screen and (max-width: 540px) {
  .item-5 .image {
    bottom: -90px;
    right: -120px;
    width: 440px;
  }
}

#kanbanServicesBox .service-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.4rem;
}
#kanbanServicesBox .service-box-container .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
#kanbanServicesBox .service-box-container .link {
  position: absolute;
  bottom: 2rem;
  border-radius: 4rem;
  background-color: rgba(7, 23, 42, 0.8);
  padding: 0.5rem 1rem;
  color: #eff4fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#kanbanServicesBox .service-box-container .link svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#kanbanServicesBox .service-box-container a:hover {
  scale: 1.05;
}
#kanbanServicesBox .service-box-container a:hover svg {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.kanban-services {
  display: grid;
  gap: 0.5rem;
  margin: auto;
  grid-template-rows: repeat(5, 230px);
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .kanban-services {
    grid-template-rows: repeat(10, 230px);
    grid-template-columns: 1fr;
  }
}
.kanban-services .item {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.kanban-services .item-1,
.kanban-services .item-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kanban-services .item-2,
.kanban-services .item-3,
.kanban-services .item-4,
.kanban-services .item-5 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.kanban-services .item-2 .image,
.kanban-services .item-3 .image,
.kanban-services .item-4 .image,
.kanban-services .item-5 .image {
  overflow: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.kanban-services .item-2 .image img,
.kanban-services .item-3 .image img,
.kanban-services .item-4 .image img,
.kanban-services .item-5 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#kanbanServices .service-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.4rem;
}
#kanbanServices .service-box-container .category {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
#kanbanServices .service-box-container .title {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 12px;
}
#kanbanServices .service-box-container .desc {
  position: relative;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 12px;
}
#kanbanServices .service-box-container .link {
  position: absolute;
  bottom: 2rem;
  border-radius: 4rem;
  background-color: rgba(7, 23, 42, 0.8);
  padding: 0.5rem 1rem;
  color: #eff4fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#kanbanServices .service-box-container .link svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#kanbanServices .service-box-container a:hover {
  scale: 1.05;
}
#kanbanServices .service-box-container a:hover svg {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  margin-top: 0px;
  user-select: none;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 1;
  font-family: "Raleway", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav {
  background-color: var(--bg-color);
  height: 75px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}
nav .container .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  fill: #44586d;
}
nav .container .logo img {
  width: 100px;
  height: 100%;
  color: #44586d;
}
nav .container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  nav .container .nav-list {
    display: none;
  }
}
nav .container .social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  nav .container .social-nav {
    width: 100%;
    margin-right: 20px;
  }
}
nav .container .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
nav .container .language-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}
nav .container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#to-hr,
#to-en {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Raleway", serif;
  font-size: 15px;
  font-weight: bold;
  color: inherit;
  border: none;
  padding: 0rem;
  cursor: pointer;
}
#to-hr:hover,
#to-en:hover {
  color: rgb(164, 21, 21);
}

.logo,
.nav-menu,
.social-nav,
.theme {
  width: 25%;
}

.nav-toggle {
  position: relative;
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav-toggle {
    display: inline;
  }
}

.nav-toggle-menu,
.nav-toggle-close {
  pointer-events: none;
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav-toggle-menu,
  .nav-toggle-close {
    cursor: pointer;
    pointer-events: initial;
    display: block;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.1s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.1s, transform 0.4s ease-out;
    transition: opacity 0.1s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  }
}

.nav-toggle-close {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 999;
}

.show-icon .nav-toggle-menu {
  opacity: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.show-icon .nav-toggle-close {
  opacity: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-menu {
  background-color: #eff4fb;
  position: fixed;
  top: 0;
  right: -100%;
  display: block;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.1s, -webkit-transform 0.4s ease-out;
  transition: all 0.1s, -webkit-transform 0.4s ease-out;
  transition: all 0.1s, transform 0.4s ease-out;
  transition: all 0.1s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  z-index: 998;
}
.mobile-menu a {
  color: #44586d;
}
.mobile-menu a:hover {
  color: #07172a;
}

.show-mobile {
  right: 0;
}

.mobile-container {
  width: 100%;
  height: 100%;
  padding-top: 120px;
}

.mobile-low-section {
  display: none;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 300px;
  height: 160px;
  width: 100%;
  z-index: 999;
}

.mobile-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-transform: uppercase;
  font-weight: 600;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}
.mobile-list a {
  z-index: 999;
  font-size: 1rem;
  letter-spacing: 2px;
}

.lang-active {
  color: #44586d !important;
}

.language-selector a {
  color: inherit;
}

.dropdown-item {
  cursor: pointer;
}
.dropdown-item:hover {
  color: #44586d;
}

.dropdown-arrow {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.show-dropdown .dropdown-button .dropdown-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-container {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dropdown-list {
  padding: 2rem;
}

.dropdown-link {
  padding: 8px 0;
}

.wrapper {
  max-width: 1320px;
  padding: 0 2rem;
}
@media screen and (max-width: 540px) {
  .wrapper {
    padding: 0 1rem;
  }
}
.wrapper-mobile {
  max-width: 1320px;
  padding: 0 1rem;
}
@media screen and (max-width: 1024px) {
  .wrapper-mobile {
    padding: 0;
  }
}

.wrapper-FW {
  max-width: 1320px;
  padding: 0;
}

.wrapper-medium {
  max-width: 768px;
  padding: 0 2rem;
}
@media screen and (max-width: 540px) {
  .wrapper-medium {
    padding: 0 1rem;
  }
}

.wrapper-large {
  max-width: 860px;
  padding: 0 2rem;
}
@media screen and (max-width: 540px) {
  .wrapper-large {
    padding: 0 1rem;
  }
}

.wrapper-small {
  max-width: 570px;
  padding: 0 2rem;
}
@media screen and (max-width: 540px) {
  .wrapper-small {
    padding: 0 1rem;
  }
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
@media screen and (max-width: 768px) {
  .section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.section-2 {
  padding-top: 0rem;
  padding-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .section-2 {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
}

.section-nav {
  margin-top: 75px;
  max-width: 1320px;
}
@media screen and (max-width: 1024px) {
  .section-nav {
    margin-top: 75px;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.txt-center {
  text-align: center;
}

.center-block {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1024px) {
  .flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1024px) {
  .flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.flex-left,
.flex-right {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .flex-left,
  .flex-right {
    width: 100%;
  }
}
.flex-left img,
.flex-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.flex-left .flex-img-full,
.flex-right .flex-img-full {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-img-back {
  z-index: 0;
  width: 100%;
  scale: 1.2;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-4 {
  height: 100%;
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .column-4 {
    width: 100%;
  }
}

.text-padding {
  padding: 0 2rem;
}

.relative {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#footerLogo {
  width: 120px;
  height: 120px;
}

footer {
  width: 100%;
}
footer .container {
  padding: 2rem 0;
}
footer a {
  text-decoration: underline;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 0 2.4rem 0;
  font-size: 12px;
}
.copyright hr {
  display: inline-block;
  width: 100%;
  max-width: 1320px;
  border: 1px solid #eff4fb;
}
@media screen and (max-width: 768px) {
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-footer .language-selector {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .social-footer .language-selector {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .social-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }
}

.hero-full {
  height: 100vh;
  max-height: 900px;
}
.hero-full .container {
  padding: 40px 0;
}

#heroLogo {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1024px) {
  #heroLogo {
    width: 160px;
  }
}
@media screen and (max-width: 768px) {
  #heroLogo {
    width: 120px;
  }
}

.hero-home .hero_image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-home .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 100%;
  z-index: 50;
}
.hero-home p {
  text-align: left;
  padding-bottom: 0px;
  width: 100%;
}
.hero-home .flex-right {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .hero-home .flex-right {
    height: 400px;
  }
}
.hero-home .flex-right img {
  width: 100%;
  height: 100%;
}

.services {
  height: 100%;
  width: 100%;
}
.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .services .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.services .container .box {
  width: 33.3333333333%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .services .container .box {
    width: 100%;
  }
}
.services .container .box h2 {
  padding-bottom: 4px;
}
.services .container .box p {
  padding-bottom: 18px;
}
.services .container .box img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 3rem 0;
}

.testimonials .box {
  padding: 3rem;
}
.testimonials .box .quotes {
  color: #44586d;
  padding-bottom: 30px;
}
.testimonials .box .review {
  height: 150px;
}
.testimonials .box .name {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.testimonials .box .from {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.img-full {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cta .container .flex-column .flex-right {
  padding: 1rem;
}

body {
  font-family: "Lora", sans-serif;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#my-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

video::-webkit-media-controls {
  display: none !important;
}