@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* End reset styles */
.clr-main-dark {
  color: #151629;
}

.clr-main-dark-5 {
  color: color-mix(in srgb, #151629 95%, white);
}

.clr-main-dark-10 {
  color: color-mix(in srgb, #151629 90%, white);
}

.clr-main-dark-20 {
  color: color-mix(in srgb, #151629 80%, white);
}

.clr-main-dark-30 {
  color: color-mix(in srgb, #151629 70%, white);
}

.clr-main-dark-40 {
  color: color-mix(in srgb, #151629 60%, white);
}

.clr-main-dark-50 {
  color: color-mix(in srgb, #151629 50%, white);
}

.clr-main-light {
  color: #f5f5f5;
}

.clr-main-light-5 {
  color: color-mix(in srgb, #f5f5f5 95%, black);
}

.clr-main-light-10 {
  color: color-mix(in srgb, #f5f5f5 90%, black);
}

.clr-main-light-20 {
  color: color-mix(in srgb, #f5f5f5 80%, black);
}

.clr-main-light-30 {
  color: color-mix(in srgb, #f5f5f5 70%, black);
}

.clr-main-light-40 {
  color: color-mix(in srgb, #f5f5f5 60%, black);
}

.clr-main-light-50 {
  color: color-mix(in srgb, #f5f5f5 50%, black);
}

.bg-light {
  background-color: #f5f5f5;
}

.bg-dark {
  background-color: #151629;
}

.clr-prim-acc {
  color: #214fde;
}

.clr-sec-acc {
  color: #f2aa3c;
}

.bg-white {
  background-color: #fff;
}

@font-face {
  font-family: "recoletaalt-black";
  src: url("/fonts/recoletaalt-black.woff2") format("woff2"), url("/fonts/recoletaalt-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.txt-label, .body-large-bold, .body-bold {
  font-weight: bold;
}

.font-heading {
  font-family: "recoletaalt-black", sans-serif !important;
}

.font-body {
  font-family: "Atkinson Hyperlegible", sans-serif !important;
}

.h1 {
  font-family: "recoletaalt-black", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
}
@media screen and (max-width: 480px) {
  .h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}

.h2 {
  font-family: "recoletaalt-black", sans-serif;
  font-size: 2.441rem;
  line-height: 2.441rem;
}
@media screen and (max-width: 480px) {
  .h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.h3 {
  font-family: "recoletaalt-black", sans-serif;
  font-size: 1.953rem;
  line-height: 2rem;
}
@media screen and (max-width: 480px) {
  .h3 {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}

.h4 {
  font-family: "recoletaalt-black", sans-serif;
  font-size: 1.563rem;
  line-height: 1.5rem;
}

.h5 {
  font-family: "recoletaalt-black", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.h6 {
  font-family: "recoletaalt-black", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.body-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.body-small {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
}
.body-large {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.25rem;
  line-height: 1.7rem;
}
.body-large-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.txt-label {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
}

.upper {
  text-transform: uppercase;
}

.txt-on-dark {
  color: #f5f5f5;
}

.txt-on-light {
  color: #151629;
}

.txt-thin {
  font-weight: 100 !important;
}

.txt-normal-weight {
  font-weight: 400;
}

.justify {
  text-align: justify;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.padt-100 {
  padding-top: 0.8rem;
}

.padt-200 {
  padding-top: 1rem;
}

.padt-300 {
  padding-top: 1.25rem;
}

.padt-400 {
  padding-top: 1.5rem;
}

.padt-500 {
  padding-top: 1.75rem;
}

.padt-600 {
  padding-top: 2rem;
}

.padt-700 {
  padding-top: 2.25rem;
}

.padt-800 {
  padding-top: 2.5rem;
}

.padt-900 {
  padding-top: 2.75rem;
}

.padb-100 {
  padding-bottom: 0.8rem;
}

.padb-200 {
  padding-bottom: 1rem;
}

.padb-300 {
  padding-bottom: 1.25rem;
}

.padb-400 {
  padding-bottom: 1.5rem;
}

.padb-500 {
  padding-bottom: 1.75rem;
}

.padb-600 {
  padding-bottom: 2rem;
}

.padb-700 {
  padding-bottom: 2.25rem;
}

.padb-800 {
  padding-bottom: 2.5rem;
}

.padb-900 {
  padding-bottom: 2.75rem;
}

.padr-100 {
  padding-right: 0.8rem;
}

.padr-200 {
  padding-right: 1rem;
}

.padr-300 {
  padding-right: 1.25rem;
}

.padr-400 {
  padding-right: 1.5rem;
}

.padr-500 {
  padding-right: 1.75rem;
}

.padr-600 {
  padding-right: 2rem;
}

.padr-700 {
  padding-right: 2.25rem;
}

.padr-800 {
  padding-right: 2.5rem;
}

.padr-900 {
  padding-right: 2.75rem;
}

.padl-100 {
  padding-left: 0.8rem;
}

.padl-200 {
  padding-left: 1rem;
}

.padl-300 {
  padding-left: 1.25rem;
}

.padl-400 {
  padding-left: 1.5rem;
}

.padl-500 {
  padding-left: 1.75rem;
}

.padl-600 {
  padding-left: 2rem;
}

.padl-700 {
  padding-left: 2.25rem;
}

.padl-800 {
  padding-left: 2.5rem;
}

.padl-900 {
  padding-left: 2.75rem;
}

.padlr-100 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.padlr-200 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padlr-300 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.padlr-400 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.padlr-500 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.padlr-600 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padlr-700 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.padlr-800 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padlr-900 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.mart-100 {
  margin-top: 0.8rem;
}

.mart-200 {
  margin-top: 1rem;
}

.mart-300 {
  margin-top: 1.25rem;
}

.mart-400 {
  margin-top: 1.5rem;
}

.mart-500 {
  margin-top: 1.75rem;
}

.mart-600 {
  margin-top: 2rem;
}

.mart-700 {
  margin-top: 2.25rem;
}

.mart-800 {
  margin-top: 2.5rem;
}

.mart-900 {
  margin-top: 2.75rem;
}

.marb-100 {
  margin-bottom: 0.8rem;
}

.marb-200 {
  margin-bottom: 1rem;
}

.marb-300 {
  margin-bottom: 1.25rem;
}

.marb-400 {
  margin-bottom: 1.5rem;
}

.marb-500 {
  margin-bottom: 1.75rem;
}

.marb-600 {
  margin-bottom: 2rem;
}

.marb-700 {
  margin-bottom: 2.25rem;
}

.marb-800 {
  margin-bottom: 2.5rem;
}

.marb-900 {
  margin-bottom: 2.75rem;
}

.marlr-100 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.marlr-200 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.marlr-300 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.marlr-400 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.marlr-500 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.marlr-600 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.marlr-700 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.marlr-800 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.marlr-900 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.marr-100 {
  margin-right: 0.8rem;
}

.marr-200 {
  margin-right: 1rem;
}

.marr-300 {
  margin-right: 1.25rem;
}

.marr-400 {
  margin-right: 1.5rem;
}

.marr-500 {
  margin-right: 1.75rem;
}

.marr-600 {
  margin-right: 2rem;
}

.marr-700 {
  margin-right: 2.25rem;
}

.marr-800 {
  margin-right: 2.5rem;
}

.marr-900 {
  margin-right: 2.75rem;
}

.marl-100 {
  margin-left: 0.8rem;
}

.marl-200 {
  margin-left: 1rem;
}

.marl-300 {
  margin-left: 1.25rem;
}

.marl-400 {
  margin-left: 1.5rem;
}

.marl-500 {
  margin-left: 1.75rem;
}

.marl-600 {
  margin-left: 2rem;
}

.marl-700 {
  margin-left: 2.25rem;
}

.marl-800 {
  margin-left: 2.5rem;
}

.marl-900 {
  margin-left: 2.75rem;
}

.flex-gap-05 {
  gap: 0.5rem;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.flex-gap-3 {
  gap: 3rem;
}

/*:focus {
    outline: 2px solid $error;
}*/
.honeypot {
  display: none !important;
  visibility: hidden !important;
}

:focus {
  outline: none;
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: #214fde;
}
a:hover {
  color: #151629;
}

hr {
  display: inline-block;
  width: 100%;
  max-width: 1320px;
  border: 1px solid #214fde;
}

::-moz-selection {
  color: #151629;
  background: #f2aa3c;
}

::selection {
  color: #151629;
  background: #f2aa3c;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.hidden-fade {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.show-fade {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.delay1 {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.delay2 {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.delay3 {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #151629;
  color: #214fde;
  cursor: pointer;
  padding: 1rem 0;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: justify;
  border: none;
  outline: none;
  -webkit-transform: all 0.4s ease-in-out;
          transform: all 0.4s ease-in-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  color: #214fde;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  text-align: justify;
  height: 0;
  display: block;
  overflow: hidden;
}

.btn-fill {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #214fde;
  color: #f5f5f5;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #214fde;
}
.btn-fill:hover {
  background: rgba(0, 0, 0, 0);
  color: #214fde;
  border: 2px solid #214fde;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 480px) {
  .btn-fill {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}
.btn-fill-rounded {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #214fde;
  color: #f5f5f5;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #214fde;
  border-radius: 30px;
}
.btn-fill-rounded:hover {
  background: rgba(0, 0, 0, 0);
  color: #214fde;
  border: 2px solid #214fde;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 480px) {
  .btn-fill-rounded {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-stroke {
  display: inline-block;
  width: 120px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  color: #f5f5f5;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #214fde;
}
.btn-stroke:hover {
  background-color: #214fde;
  color: #f5f5f5;
  border: 2px solid #214fde;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 480px) {
  .btn-stroke {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-stroke-rounded {
  display: inline-block;
  width: 120px;
  text-align: center;
  background-color: #f5f5f5;
  color: #214fde;
  padding: 0.8rem 1rem;
  font-weight: bold;
  border: 2px solid #214fde;
  border-radius: 24px;
}
.btn-stroke-rounded:hover {
  background-color: #214fde;
  color: #f5f5f5;
  border: 2px solid #214fde;
}
@media screen and (max-width: 480px) {
  .btn-stroke-rounded {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
}

#cookie-consent-banner {
  display: none;
  position: fixed;
  -webkit-box-shadow: 0px -9px 30px 0px rgba(21, 22, 41, 0.4);
          box-shadow: 0px -9px 30px 0px rgba(21, 22, 41, 0.4);
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.btn-consent {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #214fde;
  color: #f5f5f5;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #214fde;
  border-radius: 40px;
  cursor: pointer;
}
.btn-consent:hover {
  color: #f5f5f5;
  border: 2px solid #f2aa3c;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 480px) {
  .btn-consent {
    display: block !important;
  }
}

.btn-consent-outline {
  display: inline-block;
  width: auto;
  text-align: center;
  background-color: #151629;
  color: #f5f5f5;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border: 2px solid #214fde;
  border-radius: 40px;
  cursor: pointer;
}
.btn-consent-outline:hover {
  background: rgba(0, 0, 0, 0);
  color: #f5f5f5;
  border: 2px solid #f2aa3c;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 480px) {
  .btn-consent-outline {
    display: block !important;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
.contact-form label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}

.btn-form {
  background-color: #214fde;
  color: #f5f5f5;
  white-space: nowrap;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  min-height: 50px;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.contact-form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  height: 50px;
  width: 100%;
  border: none;
  border: 1px solid #214fde;
  background-color: rgba(33, 79, 222, 0);
  outline: none;
  color: #214fde;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 0px;
  text-indent: 1rem;
  margin-bottom: 2rem;
}

.contact-form input:focus {
  border-bottom: 1px solid #214fde;
}

.contact-form input::-webkit-input-placeholder {
  color: color-mix(in srgb, #151629 80%, white);
}

.contact-form input::-moz-placeholder {
  color: color-mix(in srgb, #151629 80%, white);
}

.contact-form input:-ms-input-placeholder {
  color: color-mix(in srgb, #151629 80%, white);
}

.contact-form input::-ms-input-placeholder {
  color: color-mix(in srgb, #151629 80%, white);
}

.contact-form input::placeholder {
  color: color-mix(in srgb, #151629 80%, white);
}

.contact-form input:-webkit-autofill,
.contact-form input:-webkit-autofill:hover,
.contact-form input:-webkit-autofill:focus,
.contact-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #214fde inset !important;
}

.contact-form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  height: 150px;
  width: 100%;
  border: none;
  border: 1px solid #214fde;
  background-color: transparent;
  outline: none;
  color: #214fde;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 0px;
  text-indent: 1rem;
  padding-top: 1rem;
  resize: none;
}

.footer-form input,
.footer-form textarea {
  width: 100%;
  max-width: 650px;
  border-bottom: 1px solid #8486aa;
  border-radius: 0;
  margin-bottom: 24px;
  height: 44px;
  padding-left: 10px;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #313353;
  color: #f5f5f5;
  resize: none;
}

.footer-form textarea {
  display: block;
  background-color: #313353;
  border-bottom: 1px solid #8486aa;
  padding-top: 10px;
  height: 200px;
  color: #f5f5f5;
  resize: none;
}

.footer-form input::-webkit-input-placeholder, .footer-form textarea::-webkit-input-placeholder {
  color: #8486aa;
}

.footer-form input::-moz-placeholder, .footer-form textarea::-moz-placeholder {
  color: #8486aa;
}

.footer-form input:-ms-input-placeholder, .footer-form textarea:-ms-input-placeholder {
  color: #8486aa;
}

.footer-form input::-ms-input-placeholder, .footer-form textarea::-ms-input-placeholder {
  color: #8486aa;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
  color: #8486aa;
}

.footer-form input:focus {
  border-bottom: solid 1px #f2aa3c;
}

.footer-form textarea:focus {
  border-bottom: solid 1px #f2aa3c;
}

.img-gallery {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-wrapper > div {
  width: 100%;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.grid-wrapper > div > a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}
@media screen and (max-width: 480px) {
  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.grid-wrapper .wide {
  grid-column: span 2;
}
@media screen and (max-width: 768px) {
  .grid-wrapper .wide {
    grid-column: span 1;
  }
}

.grid-wrapper .tall {
  grid-row: span 2;
}
@media screen and (max-width: 768px) {
  .grid-wrapper .tall {
    grid-row: span 1;
  }
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}
@media screen and (max-width: 768px) {
  .grid-wrapper .big {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.pswp__img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center;
     object-position: center;
  height: 100vh !important;
  width: 100vw !important;
}

#index-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.grid-wrapper > div > div {
  width: 100%;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.grid-wrapper > div > div > img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}
@media screen and (max-width: 480px) {
  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}
.img-window img {
  max-height: 80vh;
  max-width: 80vw;
}

/* text buttons */
.img-btn-next,
.img-btn-prev {
  display: block;
  padding: 1rem;
  background-color: #151629;
  color: #f5f5f5;
  position: fixed;
  top: 48vh;
  z-index: 101;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.img-btn-next:hover {
  color: #214fde;
}

.img-btn-prev:hover {
  color: #214fde;
}

.line-acc-small {
  display: block;
  width: 120px;
  height: 2px;
  background-color: #214fde;
}

.line-acc-full {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #214fde;
}

.line-vertical {
  display: inline-block;
  width: 4px;
  height: 50px;
  background-color: #f5f5f5;
}

.line-dark-small {
  display: block;
  width: 80px;
  height: 4px;
  background-color: #151629;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.1);
  background-color: none;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: 99;
}

.nav-bar {
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .nav {
    display: block;
    height: 4rem;
  }
}

.nav-data {
  position: relative;
  height: 100%;
  width: 100%;
}

#headerLogo {
  height: 1.5rem;
}

.nav-toggle-menu,
.nav-toggle-close {
  opacity: 0;
  color: #151629;
  pointer-events: none;
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav-toggle-menu,
  .nav-toggle-close {
    cursor: pointer;
    pointer-events: initial;
    position: absolute;
    display: block;
    right: 0;
    top: 1rem;
    opacity: 1;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.1s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.1s, transform 0.4s ease-out;
    transition: opacity 0.1s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  }
}

.nav-toggle-close {
  opacity: 0;
}

.show-icon .nav-toggle-menu {
  opacity: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.show-icon .nav-toggle-close {
  opacity: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-menu {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 1rem;
  padding: 0 1.6rem;
}
@media screen and (max-width: 1024px) {
  .nav-menu {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    display: block;
    left: 0;
    top: calc(0px + 4rem);
    width: 100%;
    height: 100vh;
    z-index: 99;
    padding: 0;
    border-radius: 0;
    overflow: auto;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .nav-list {
    padding-top: 1rem;
    padding-right: 0rem;
    display: block;
  }
}
.nav-list li {
  text-align: center;
  white-space: nowrap;
}

.nav-link {
  color: #151629;
  cursor: pointer;
  padding: 1.25rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover {
  color: #f2aa3c;
}
@media screen and (max-width: 480px) {
  .nav-link {
    padding: 1.25rem 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav-link:hover {
    scale: 1;
    border-radius: 0;
  }
}

.socialNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  color: #214fde;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.socialNav a {
  color: #214fde;
}
.socialNav a:hover {
  color: #f2aa3c;
}
@media screen and (max-width: 1024px) {
  .socialNav {
    position: absolute;
    bottom: 9rem;
    left: 0;
    right: 0;
    padding: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 99;
  }
}

.show-menu {
  opacity: 1;
  height: 6rem;
  pointer-events: initial;
}
@media screen and (max-width: 1024px) {
  .show-menu {
    display: block;
    height: 100vh !important;
  }
}

.show-list {
  opacity: 1;
  pointer-events: initial;
}

.dropdown-arrow {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.dropdown-content,
.dropdown-group,
.dropdown-list {
  display: grid;
}

.dropdown-container {
  -webkit-box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  position: absolute;
  top: 7rem;
}
@media screen and (max-width: 1024px) {
  .dropdown-container {
    position: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    margin-top: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
}

.dropdown-content {
  row-gap: 0rem;
}

.dropdown-group {
  padding: 0.5rem 0;
}

.dropdown-link {
  font-weight: bold;
  padding: 0.8rem 2rem;
  color: #151629;
}
.dropdown-link:hover {
  background-color: #214fde;
  color: #f5f5f5;
}

.show-dropdown {
  height: auto;
}

.show-dropdown .dropdown-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper {
  max-width: 1320px;
  padding: 0 2rem;
}
.wrapper-FW {
  max-width: 1320px;
  padding: 0;
}

.wrapper-medium {
  max-width: 768px;
  padding: 0 2rem;
}
@media screen and (max-width: 480px) {
  .wrapper-medium {
    padding: 0 1rem;
  }
}

.wrapper-small {
  max-width: 570px;
  padding: 0 2rem;
}
@media screen and (max-width: 480px) {
  .wrapper-small {
    padding: 0 1rem;
  }
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media screen and (max-width: 480px) {
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.section-nav {
  margin-top: 6rem;
}
@media screen and (max-width: 1024px) {
  .section-nav {
    margin-top: 4rem;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.txt-center {
  text-align: center;
}

.center-block {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.flex-left,
.flex-right {
  width: 50%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .flex-left,
  .flex-right {
    width: 100%;
  }
}
.flex-left img,
.flex-right img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-4 {
  height: 100%;
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .column-4 {
    width: 100%;
  }
}

#footerLogo {
  width: 160px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-social a {
  color: #214fde;
}
.footer-social a:hover {
  color: #f5f5f5;
}

footer a {
  color: #214fde;
  font-weight: 400;
}
footer a:hover {
  color: #f2aa3c;
}

.column-footer {
  width: 25%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .column-footer {
    width: 100%;
  }
}
.column-footer h3 {
  color: #f5f5f5;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-list a {
  color: #f5f5f5;
  font-weight: 400;
}
.footer-list a:hover {
  color: #214fde;
}

.footer-link {
  text-transform: uppercase;
  font-weight: 500;
}

.hero-full {
  min-height: calc(100vh - 6rem);
  padding-top: 9rem;
  margin-top: 6rem;
}

.hero {
  padding-top: 9rem;
  min-height: 100vh;
}

/*.hero img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
*/
#heroLogo {
  display: block;
  width: 300px;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  #heroLogo {
    width: 200px;
    margin-top: 100px;
  }
}

.hero-social {
  gap: 0.5rem;
}

.hero-social a:hover {
  color: #f2aa3c;
}

.hero-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: calc(100vh - 6rem);
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .hero-img {
    -o-object-position: 25% 50%;
       object-position: 25% 50%;
  }
}

.hero-img-rounded {
  position: relative;
  border-radius: 24px;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: calc(100vh - 6rem);
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .hero-img-rounded {
    -o-object-position: 25% 50%;
       object-position: 25% 50%;
  }
}

.img-rounded {
  border-radius: 24px;
}

.heroContainer {
  display: block;
  position: relative;
  z-index: 98;
  padding: 10rem 3rem 0 3rem;
}
@media screen and (max-width: 480px) {
  .heroContainer {
    padding: 4rem 3rem 0 3rem;
  }
}

.heroContainer-default {
  display: block;
  position: relative;
  z-index: 98;
}

.my-carousel-progress {
  background: #f2aa3c;
}

.my-carousel-progress-bar {
  background: #214fde;
  height: 4px;
  -webkit-transition: width 400ms ease;
  transition: width 400ms ease;
}

.img-full {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

.menuContent {
  position: relative;
  display: block;
  padding: 10rem 0 0 0;
  z-index: 98;
}

.box {
  position: relative;
  height: 550px;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: #214fde;
}

.arrow-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.box-arrow {
  position: relative;
  float: right;
  bottom: 16px;
  right: 20px;
  z-index: 98;
  width: 22px;
  color: #151629;
  background-color: #f5f5f5;
  border: 0px solid #151629;
  border-radius: 100%;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.box-arrow:hover {
  scale: 1.15;
}

.box > img {
  position: absolute;
  z-index: 80;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.box > h3 {
  position: absolute;
  bottom: 0;
  text-indent: 1rem;
  z-index: 81;
  color: #151629;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0 0 1rem 1rem;
  background-color: rgba(245, 245, 245, 0.8);
}

.testimonials {
  position: relative;
}
.testimonials img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials h2 {
  position: relative;
  text-align: center;
  z-index: 80;
}

.book-container img {
  border-radius: 30px;
}

.book-text {
  width: 100%;
  padding-right: 2rem;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  .book-text {
    padding-right: 0;
  }
}

.testimonial-container {
  border: solid 1px rgba(33, 79, 222, 0.5);
  margin: 2rem 1rem;
  color: #f5f5f5;
  -webkit-box-shadow: 0px 35px 30px -20px rgba(21, 22, 41, 0.2);
          box-shadow: 0px 35px 30px -20px rgba(21, 22, 41, 0.2);
  height: auto;
}
.testimonial-container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.testimonial-container .icon-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.testimonial-container .quotes {
  width: 50px;
  fill: #214fde;
}
.testimonial-container .quotes-end {
  width: 50px;
  rotate: -180deg;
  fill: #214fde;
}
.testimonial-container .content {
  text-align: left;
  line-height: 2rem;
  font-weight: 500;
}
.testimonial-container .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 1px rgba(21, 22, 41, 0.15);
  padding: 2rem;
}
.testimonial-container .user .user-profile {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}
.testimonial-container .user .user-profile img {
  position: absolute;
  left: 0;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-container .name {
  text-align: left;
}
.testimonial-container .city {
  text-align: left;
  color: #214fde;
}

.splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 !important;
}

#splideReviews {
  display: relative;
  z-index: 98;
  margin-top: 2rem;
}
#splideReviews p {
  width: 100%;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: #f5f5f5;
  color: #151629;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#my-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}