@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;

.sidebar-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  @include large {
    flex-direction: column;
    gap: 0;
  }
}

.sidebar-main {
  width: 70%;
  @include large {
    width: 100%;
  }
}

.sidebar {
  width: 30%;

  @include large {
    width: 100%;
    padding: 0rem;
  }
}

.sidebar-box {
  padding-bottom: 3rem;

  img {
    height: 200px;
  }
}
