@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;

#footerLogo {
  width: 160px;
}

.footer-social {
  display: flex;

  gap: 0.8rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  a {
    color: $prim-acc;
    &:hover {
      color: $sec-acc;
    }
  }
}

footer a {
  color: $prim-acc;
  font-weight: 400;
  &:hover {
    color: $sec-acc;
  }
}
.flex-column-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;

  @include normal {
    flex-direction: column;
  }
}

.column-footer {
  width: calc(100% / 3);
  height: 100%;
  padding: 2rem 0;

  @include large {
    width: 100%;
  }

  h3 {
    color: $main-dark;
  }
}

.footer-list {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;

  a {
    color: $main-dark;
    font-weight: 800;
    &:hover {
      color: $prim-acc;
    }
  }
}

.footer-link {
  text-transform: uppercase;
  font-weight: 500;
}
