@use "../abstracts/colors" as *;
@use "../abstracts/media-queries" as *;
@use "../abstracts/fonts" as *;

$navHeight: 75px;
$navHeightSmall: 4rem;
$navMarginTop: 30px;

//main header
header {
  position: fixed;
  margin-top: $navMarginTop;
  user-select: none;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 10px 0px rgba($color: #000000, $alpha: 0.1);
  z-index: 99;
  font-family: $nav-font;
}
nav {
  height: $navHeight;
}

//container of navigation
nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  .logo {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      width: 40px;
      height: 100%;
    }
  }

  //menu items container
  .nav-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    flex-wrap: nowrap;
    white-space: nowrap;
    @include large {
      display: none;
    }
  }

  //social icons container
  .social-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    @include large {
      display: none;
    }
  }
}

//container sizes equal
.logo,
.nav-menu,
.social-nav {
  width: calc(100% / 3);
}

.nav-toggle {
  position: relative;
}

//hamburger menu icons
.nav-toggle-menu,
.nav-toggle-close {
  color: $main-dark;
  pointer-events: none;
  display: none;
  @include large {
    cursor: pointer;
    pointer-events: initial;
    display: block;
    transition: opacity 0.1s, transform 0.4s ease-out;
  }
}

//close icon disabled on default view
.nav-toggle-close {
  color: $main-light;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 999;
}

//when clicked this happens
.show-icon .nav-toggle-menu {
  opacity: 0;
  transform: rotate(135deg);
}

.show-icon .nav-toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

//mobile menu style
.mobile-menu {
  position: fixed;
  top: 0;
  //slides in from right side
  right: -100%;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: $prim-acc;
  transition: all 0.1s, transform 0.4s ease-out;
  z-index: 998;
}

.show-mobile {
  //position of the menu when clicked
  right: 0;
}

.mobile-container {
  width: 100%;
  height: 100%;
  padding-top: 120px;
}

.mobile-low-section {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 300px;
  height: 160px;
  background-color: $sec-acc;
  width: 100%;
  z-index: 999;
}

//mobile menu list styles

.mobile-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;

  text-transform: uppercase;
  font-weight: 600;
  flex-wrap: nowrap;
  white-space: nowrap;
  a {
    color: $main-light;
    z-index: 999;
    font-size: 30px;
    letter-spacing: 2px;
    &:hover {
      color: $sec-acc;
    }
  }
}
